table{
    background: rgb(129, 116, 204);
    height: auto;
    width:50vw;
    border-radius: 5px; 
    color: white;
    margin: 0;
    border-spacing: 0;
    border: 2px white;
    border-style: solid;
}

h1{
    color: white;
    background: rgb(129, 116, 204);
    height: 6vh;
    width:15vw;
    margin: 0;
    border-radius: 5px;
}

tr, th, td, tbody{
    padding: 10px;
}
